@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');


@font-face {
  font-family: "Song Myung";
  font-weight: 200;
  src: url("/fonts/SongMyung-Regular.ttf") format("truetype");
};

body {
  background: #272525;
  color: #333;
  font-family: 'Noto Sans KR', sans-serif;
};


